fastapi
uvicorn[standard]

pydantic-settings
python-dotenv

PyGithub

langchain
langchain-core
langgraph
langgraph-checkpoint-postgres
langchain-groq
langchain-google-genai
langchain-postgres
langchain-text-splitters

psycopg[binary]
sqlalchemy
